body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f044d;
    color: #fff;
    text-align: center;
}


.weather-info{
    font-size: 25px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    
}

h2{
    font-size: 35px;
    margin-top: 50px;
    padding-top: 20px;
}

#weather-container{
    width: 400px;
    background: rgba(54, 34, 168, 0.4);
    border: 1px ;
    border-radius: 5px;
    overflow: auto;
    margin: 10px auto;
    padding: 40px;
}

input, button{
    font-size: 18px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover{
    background: gray;
}

#forecast-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.forecast-day {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    width: 150px;
    overflow: hidden;
}

.forecast-day h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.forecast-day p {
    margin: 5px 0;
    color: #555;
}